.container {
  position: relative;
  z-index: 10;
  margin: 3rem auto 1rem auto;
  width: 97%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  box-shadow: 0px 3px 8px var(--pastel);
  color: var(--dark);
  border-radius: 9px;
}

.image {
  border-radius: 0.375rem;
  object-fit: cover;
}

.overlay {
  position: absolute;
  z-index: 20;
  inset: 0;
}

.overlayBackground {
  background-color: var(--primary);
  height: 100%;
  width: 100%;
  border-radius: 0.375rem;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.overlayBackground:hover {
  opacity: 1;
}

.title {
  position: absolute;
  bottom: 0.25rem;
  left: 0.5rem;
  z-index: 30;
  width: 60%;
  color: white;
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.conditional {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: -0.5rem;
}
