.btn {
  padding: 0.3em 0.9em;
  border-radius: 300px;
  border: none;
  font-size: 1.1rem;
  margin-block: 0.5rem;
  opacity: 0.7;
}

.btn:hover {
  opacity: 1;
}

.login {
  background-color: orange;
  color: black;
  border: black;
}

.logout {
  background-color: black;
  color: orange;
  border: orange;
}
