.btn {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  margin-right: 0.5rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:hover {
  background-color: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.btn:active {
  color: var(--dark);
}

.login {
  background-color: var(--primary);
  color: var(--white);
  border: var(--dark);
}

.logout {
  background-color: var(--secondary);
  color: var(--white);
  border: var(--white);
}
