.title {
  text-align: left;
}

.note {
  padding: 0.25rem 0.5rem;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 4px 6px var(--pastel);
  border-radius: 0.5rem;
  background-color: var(--bright);
  color: var(--dark);
}

.chooseDoctor {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-evenly;
  gap: 0.5rem;
  background-color: var(--white);
  box-shadow: 0px 3px 8px var(--pastel);
  color: var(--dark);
  border-radius: 9px;
}

.btn {
  border-radius: 0.5rem;
  width: 91.666667%;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  text-align: left;
  transition: opacity 0.3s ease;
}

.selected {
  background-color: var(--primary);
  color: white;
  font-weight: 600;
}

.notSelected {
  background-color: var(--bright);
  color: var(--dark);
}

.btn:hover {
  opacity: 0.8;
}
