.previewBookingAndContacts {
  margin: 2rem auto 0 auto;
  padding: 1rem;
  width: 90vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-evenly;
  gap: 0.5rem;
  background-color: var(--primary);
  box-shadow: 0px 3px 8px var(--pastel);
  color: var(--dark);
  border-radius: 9px;
}

.submit {
  appearance: none;
  background-color: var(--white);
  border: 1px solid var(--white);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: var(--primary);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.submit:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.submit:hover {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--bright);

  /* box-shadow: var(--white) 0 1px 1px 1px; */
}

.submit:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.submit:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.submit:active {
  color: var(--dark);
  background-color: var(--primary);
  border: 1px solid var(--bright);
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.edit {
  appearance: none;
  background-color: var(--primary);
  border: 1px solid var(--white);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  margin-right: 0.5rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.edit:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.edit:hover {
  background-color: var(--white);
  color: var(--secondary);
}

.edit:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.edit:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.edit:active {
  color: var(--dark);
}
