.previewBookingAndContacts {
  margin: 2rem auto;
  padding: 1rem;
  width: 90vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-evenly;
  gap: 0.5rem;
  background-color: var(--primary);
  box-shadow: 0px 3px 8px var(--pastel);
  color: var(--dark);
  border-radius: 9px;
}
