.previewBookingAndContacts {
  margin: 2rem auto;
  padding: 1rem;
  width: 90vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-evenly;
  gap: 0.5rem;
  background-color: var(--primary);
  box-shadow: 0px 3px 8px var(--pastel);
  color: var(--dark);
  border-radius: 9px;
}

.btn {
  padding: 0.2em 0.9em;
  border-radius: 6px;
  border: none;
  font-size: 0.9rem;
  margin-block: 0.5rem;
  opacity: 0.7;
  width: 5rem;
  height: 2rem;
  text-wrap: nowrap;
  background-color: var(--white);
  color: var(--secondary);
  box-shadow: 2px 1px 3px var(--pastel);
  /* border: 1px solid var(--secondary); */
}

.btn:hover {
  opacity: 5;
  color: var(--white);
  background-color: var(--secondary);
}
