.nextPrevButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem 0.25rem;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--white);
  color: var(--dark);
  margin: 0.5rem;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 6rem;
}

.image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.text {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.p {
  white-space: pre-wrap;
  margin-bottom: 1rem;
}

.symptomsContainer {
  margin: 2rem auto 2rem auto;
  padding: 1rem;
  width: 90vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-evenly;
  gap: 0.5rem;
  background-color: var(--white);
  box-shadow: 0px 3px 8px var(--pastel);
  color: var(--dark);
  border-radius: 9px;
}

.symptom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0.5rem 0.5rem;
  height: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: var(--secondary);
  color: white;
}

.book {
  appearance: none;
  background-color: var(--white);
  border: 1px solid var(--white);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: var(--primary);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  margin-right: 0.2rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.book:hover {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--bright);
}

.book:active {
  color: var(--dark);
  background-color: var(--primary);
  border: 1px solid var(--bright);
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.back {
  appearance: none;
  background-color: var(--primary);
  border: 1px solid var(--white);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  margin-left: 0.2rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.back:hover {
  background-color: var(--white);
  color: var(--secondary);
}

.back:active {
  color: var(--dark);
}

/* =============================================== RESPONSIVE ============================  */

@media (min-width: 768px) {
  .image {
    width: 90vw;
  }
}

@media (min-width: 1024px) {
  .image {
    width: 45vw;
  }
}
