.appointmentBlock {
  background: var(--primary);
  padding: 0 1.5rem;
  text-align: start;
  font-size: 14px;
  color: var(--white);
  margin: 0 auto;
  width: 90vw;
  max-width: 600px;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
