@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

:root {
  --white: #ededed;
  --dark: #191919;
  --text-grey: #3c3c3c;
  --primary: #839788;
  --secondary: #a05c7b;
  --shade-pastel: #bdbbb6;
  --shade-bright: #e5d1d0;
}

/* =========== FONT ============ */

h1 {
  font-size: 2.3rem;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
p {
  font-size: 0.9rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
